#links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline;
}

#links {
  position: absolute;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 9;
  display:inline-block;
  text-align:center
}

#links-inner {
    background:transparent;
    background-color: rgba(0,0,0,0.0);
}

#links li {
  border-right: 1px solid #bbb;
  height: 90%;
  text-align: center;
  display:inline-block;
}

li:last-child {
  border-right: none;
}

#links li a {
  font-size: medium;
  display: inline;
  font-size: 25px;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
}

.ezekiel {
  background-image: url("WebsiteBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(0, 0, 128);
  font-size: 20px;
}

.ebody {
  width: 60%;
  margin: auto;
  background-color: rgba(240, 248, 255, 0.8);
}

.eh1 {
  text-decoration: underline;
}

.EBcontent {
  padding: 10px;
  text-align: center;
}

#mainContent {
  width: 60%;
  position: absolute;
  left: 20%;
  background-color: rgba(240, 248, 255, 0.8);
  text-align: center;
}

.MyPicture {
  width: 40%;
  transform: rotate(90deg);
  padding: 5%;
}

.boulderingImage {
  width: 50%;
}

.worldMap {
  width: 60%;
}

.EBcontent div {
  width: 75%;
  text-align: center;
  align-self: center;
  margin: auto;
  border-bottom: 1px solid;
}

.EBcontent h2 {
  text-decoration: underline;
}

.phillip {
  background-color: grey;
}

.ph1 {
  margin-top: 5px;
  text-align: center;
  color: black;
  text-decoration: underline;
}

.pp {
  font-size: medium;
  text-align: center;
  color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img {
  margin: 2.5px;
  width: 240px;
  height: 250px;
}

.flex {
  display: flex;
  padding: 0 4px;
}

.textBelow {
  flex: 16.66%;
  max-width: 16.66%;
  padding: 0 4px;
  color: black;
}

.textBelow img {
  margin-top: 8px;
  vertical-align: middle;
}

.homepage {
  background-image: url("html.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(0, 0, 128);
  font-size: 20px;
  font-family: times, Helvetica, sans-serif;
    font-weight:normal;

}

.container {
  position: absolute;
  right: 0;

  max-width: 300px;
  padding: 16px;
  color: black;
  font-weight:normal;
}

input[type=text], input[type=password] {
  font-family: times, Helvetica, sans-serif;
}
.btn {
  background:transparent;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  padding-bottom: 5%;
  font-size: 22px;
  width: 10%;
}

.btn:hover {
  opacity: 1;
  background-color:green;
}

label {
    font: normal 22px times !important;
}
