#links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
	background-color: #333;
	display: inline;
}

#links{
  height: 40px;
  background-color:lightgray;
}
#links li {
	float: left;
	border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

#links li a {
	font-size: medium;
    display: inline;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
	background-color: #111;
}


#link {
  position: absolute;
  left: 25%;
  bottom: 50%;
  list-style-type: none;
}
#link ul {
    list-style-type: none;
}
#link li {
	float: left;
	border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

#link li a {
	font-size: 64px;
    display: inline;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
	background-color: grey;
}
